[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
uvicorn = "*"
asyncpg = "*"
rich = "*"

[dev-packages]
ipython = "*"
ipdb = "*"
autopep8 = "*"
pylint = "*"

[requires]
python_version = "3.9"
